body{
	font-family: "Microsoft YaHei";
}
/*top star*/
.top {
	width:100%;
	min-width:1200px;
	height:31px;
	background:#3C3C3C;
}
.top-1000 {
	min-width:1000px;
}
.top-con {
	width:1200px;
	height:31px;
	line-height:31px;
	margin:0 auto;
}
.top-con1000 {
	width:1000px;
}
.p-link {
	color:#8DBACF;
}
.p-link a {
	color:#8DBACF;
	padding:0 7px;
}
/*top end*/
/*nav star*/
.nav {
	width:100%;
	min-width:1200px;
	height:70px;
	background:#328CCF;
	*z-index:1;
}
.nav-1000 {
	min-width:1000px;
}
.nav-con {
	width:1200px;
	height:70px;
	line-height:70px;
	margin:0 auto;
}
.nav-con1000 {
	width:1000px;
}
.logo {
	width:27%;
}
.company {
	display:inline;
}
.company span {
	display:block;
	color:#fff;
	line-height:18px;
}
.div-nav {
	width:72%;
	height:70px;
}
.nav-ul {
	height:70px;
	overflow:hidden;
}
.nav-ul li {
	float:left;
	height:70px;
}
.nav-ul li a {
	width:90px;
	display:inline-block;
	text-align:center;
	font-size:18px;
	font-family:"Microsoft YaHei";
	color:#fff;
}
.nav-ul li a.a-active {
	background:#2973BD;
}
.nav-ul li a:hover {
	text-decoration:none;
	background:#2973BD;
}
.nav-right {
	width:180px;
	height:29px;
	float:right;
	margin-top:20px;
	background:#2077B7;
	position:relative;
}
.serach {
	width:140px;
	height:26px;
	line-height:26px;
	padding-left:5px;
	background:#2077B7;
	border:1px solid #2077B7;
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#89CCFE;
	*float:left;
}
.nav-right a {
	width:35px;
	height:29px;
	display:inline-block;
	background:url(../images/icon-1.gif) no-repeat;
	position:absolute;
	top:0;
	right:0;
}
.nav-regiter {
	height:100px;
	border-bottom:2px solid #ddd;
	background:#fff;
} 
.nav-regiter .nav-con {
    height: 100px;
    line-height: 100px;
}
.nav-regiter .div-nav {
    width: 60%;
}
.nav-ul-regiter li a {
    color: #5A5A5A;
    display: inline-block;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    text-align: center;
    width: 90px;
}
.nav-ul-regiter li a.a-active {
	color:#1F6BA7;
	background:none;
}
.nav-ul-regiter li a:hover {
	text-decoration:none;
	color:#1F6BA7;	
	background:none;
}
/*nav end*/
/*sub-nav star*/
.sub-nav {
	width:100%;
	background:#333;
	position:absolute;
	left:0;
	right:0;
	top:70px;
	z-index:100;
	/*opacity:0;
	filter:alpha(opacity=0);*/
	display:none;
	/*z-index:-1;*/
}
.nav-ul dl  {
	line-height:20px;
	padding:12.5px 30px 12.5px 0;
	float:left;
	_display:inline;
}
.nav-ul dl dt {
    border-bottom: 1px solid #666666;
    color: #959595;
    margin-bottom: 6px;
    margin-top: 8px;
    padding-bottom: 11px;
}
.nav-ul .sub-nav a {
	font-size:13px;
	font-family:"Microsoft YaHei";
	color:#fff;
	width:auto;
	padding:5px 0;
}
.nav-ul .sub-nav a:hover {
	background:none;
	color:#2973BD;
}
/*sub-nav end*/
/*banner star*/
.banner,.scroll-img {	
	width:100%;
	height:325px;
	overflow:hidden;
}
.div-bg1,.div-bg2,.div-bg3,.div-bg4 {
	width:100%;
	height:325px;
	background:#393F4B;
}
.div-bg2 {
	background:#20222E;
}
.div-bg3 {
	background:#074399;
}
.div-bg4 {
	background:#0D437F;
}
.div-bg1 div,.div-bg2 div ,.div-bg3 div,.div-bg4 div{
	width:1200px;
	height:325px;
	margin:0 auto;
}
.div-bg11000 div,.div-bg21000 div ,.div-bg31000 div,.div-bg41000 div{
	width:1000px;
}
.scroll-img  img {
	width:100%;
	height:325px;
}
.scroll-num {
	position:absolute;
	right:15%;
	bottom:17px;
}
.scroll-num li {
	width:15px;
	height:15px;
	float:left;
	margin-right:20px;
	background:#919396;
	text-indent:-9999px;
	_display:inline;
}
.scroll-num li.on {
	background:#10AEFF;
}
/*banner end*/
/*container star*/
.container {
	width:1200px;
	height:auto;
	margin:0 auto;
}
.container1000 {
	width:1000px;
}
/*container end*/
/*浜戞暟鎹腑蹇�star*/
.col-c1 {
	height:355px;
}
.col-c1-1 {
	width:25%;
	height:302px;
	text-align:center;
	position:relative;
}
.col-c1 .box-con {
	height:302px;
	border:1px solid #EBE7E7;
	border-right:1px dashed #EBE7E7;
	/*border-right:1px dashed #EBE7E7;*/
}
.col-c1 .border-ln {
	border-left:1px solid #fff;
}
.col-c1 .last {
	border-left:1px solid #fff;
	border-right:1px solid #EBE7E7;
}
.col-c1 .div-border {
	border:1px solid #BAE6F1;
}
.pic {
	padding:16px 0 26px 0;
}
.title-w3 {
	font-size:20px;
	font-family:"Microsoft YaHei";
	font-weight:normal;
}
.p-t1 {
	font-size:14px;
	color:#727171;
	padding-top:5px;
}
.bottom {
	width:100%;
	position:absolute;
	left:0;
	top:195px;
}
/*浜戞暟鎹腑蹇�end*/
/*浜戦�璁湇鍔�star*/
.col-c2,.col-c3,.col-c4 {
	height:285px;
}
.col-c2-1,.col-c2-2 {
	width:29%;
	height:169px;
	margin:18px 19px 15px;
	display:inline;
	padding:34px 30px 0 175px;
}
.col-c2-1 {
	background:url(../images/yxt-bg.gif) no-repeat left center;
}
.col-c2-1 .title-w2,.col-c2-2 .title-w2 {
	font-size:20px;
	font-family:"Microsoft YaHei";
	color:#fff;
	font-weight:normal;
}
.col-c2-1 .p-con,.col-c2-2 .p-con {
	color:#fff;
	line-height:18px;
}
.col-c2-2 {
	background:url(../images/yhj-bg.gif) no-repeat left center;
}
.col-c2-1n,.col-c2-2n {
	width:25%;
}
/*浜戦�璁湇鍔�end*/
/*琛屼笟浜戙�鍚堜綔浼欎即 star*/
.show-tab {
	height:192px;
	margin:10px 35px 22px;
	/*background:url(../images/bj.gif) no-repeat 330px 100px;*/
	background:url(../images/bj.gif) no-repeat right bottom;
}
.p-con1 {
	position:relative;
}
.p-con1 p {
	line-height:20px;
	padding:20px 20px 35px 0;
}
.p-con1 a {
	position:absolute;
	bottom:-10px;
	_top:120px;
}
.col-c6 {
	width:85%;
	overflow:hidden;
	height:192px;
	margin:15px 36px 17px;
}
.col-c6-con {
	width:100%;
	height:175px;
	overflow:hidden;
	position:relative;
}
.content {
	float:left;
}
.content-1 {
	width:65%;
	height:150px;
	padding-right:10px;
}
.content-1 a {
	position:absolute;
	bottom:0;
}
.content-1 .p-con2 {
	line-height:20px;
	padding:10px 0 15px;
}
.content-2 {
	width:30%;
	height:150px;
	border-left:1px solid #ECECEC;
}
.col-btn {
	text-align:center;
}
.col-btn a {
	width:12px;
	height:12px;
	display:inline-block;
	background:#CFCFCF;
	border:2px solid #CFCFCF;
	_font-size:0;
	margin:5px 10px 3px;
	text-indent:-9999px;
}
.col-btn a.on  {
	background:#fff;
	border:2px solid #0D92FF;
}
/*琛屼笟浜戙�鍚堜綔浼欎即 end*/
/*鍏憡鏍忋�闇�眰鐑偣 star*/
.col-c4-1,.col-c4-2 {
	width:49%;
}
/*鍏憡鏍忋�闇�眰鐑偣 end*/
/*璧勮川 star*/
.col-c5 {
	height:142px;
}
.col-c5-con a {
	display:inline-block;
	padding:17px 0 15px 67px;
	font-size:20px;
	font-family:"Microsoft YaHei";
	color:#474747;
}
.col-c5-con a img {
	border:1px solid #E7E7E7;
	margin-right:28px;
}
.col-c5-con a.a-h {
	color:#209ECF;
}
.col-c5-con a.a-h img {
	border:1px solid #209ECF;
}
/*璧勮川 end*/
/*娉ㄥ唽 star*/
.step {
	width:780px;
	height:25px;
	margin:20px auto 35px;
	background:url(../images/step.gif) no-repeat left top;
	padding-top:55px;
}
.step1 {
	background-position:0 -73px;
}
.step2 {
	background-position:0 -146px;
}
.step span {
	display:inline-block;
	font-size:14px;
	color:#878787;
	text-align:center;
}
.step .step-s1 {
	width:300px;
	color:#000;
}
.step .step-s2 {
	width:190px;
}
.step .step-s3 {
	width:290px;
}
.step1 .step-s2{
	color:#000;	
}
.step2 .step-s3{
	color:#11b6fb;	
}
.regiter {
	width:980px;
	height:auto;
	margin:0 auto;
	padding:35px 0;
}
.regiter-con {
	width:780px;
	height:auto;
	margin:0 auto;
}
.regiter-l {
	width:500px;
	height:auto;
	padding-left:55px;
	border-right:1px solid #ccc;
	background:url(../images/regiter-bg.png) no-repeat 35px top;
}
.regiter-input {
	height:29px;
	line-height:29px;
	width:295px;
	padding-left:4px;
	border:1px solid #C1C1C1;
	color:#666;
}
.w-1 {
	width:60px;
}
.btn-yzm {
	height:28px;
	padding:0 5px;
	font-weight:bold;
	margin-top:5px;
}
.rank {
	width:300px;
	height:14px;
}
.rank span {
	width:99px;
	height:14px;
	margin-right:1px;
	display:inline-block;
	float:left;
	background:#F1C793;
	color:#fff;
	text-align:center;
	line-height:14px;
}
.rank span.span-b {
	background:#5BB97A;
}
.regiter-r {
	width:165px;
	padding:0 20px 0 35px;
}
.p-con3 {
	line-height:18px;
}
.succeed {
	width:775px;
	height:350px;
	border:1px solid #DCDCDC;
	margin:0 auto;
}
.p-regiter {
	padding-left:60px;
	font-size:13px;
	font-family:"Microsoft YaHei";
	background:url(../images/icon-3.gif) no-repeat 40px 0;
}
/*娉ㄥ唽 end*/
/*浜у搧鏈嶅姟 star*/
.col-c7 {
	width:1200px;
	height:auto;
	margin:0 auto;
}
.col-c7-1000{
	width:1000px;
}
/*.col-c7-1000 .side-c1 {
	width:250px;
}*/
.col-c7-1000 .main-c1 {
	width:725px;
}
.side-c1 {
	width:20%;
	height:auto;
	background:#F3F3F3;
}
.main-c1 {
	width:78%;
	background:#fff;
	padding:12px;
}
.show-tab1 {
	background:none;
	height:auto;
}
.show-tab2 {
	background:none;
	height:auto;
	margin:10px 0;
}
.show-tab3 {
	width:80%;
	background:none;
	height:auto;
	margin:0;
}
/*浜у搧鏈嶅姟 end*/
.textarea-1 {
	width:375px;
	height:80px;
	line-height:18px;
	resize:none;
	padding:5px 0 0 5px;
	border:1px solid #919191;
}
.pwd-grade {
	height:75px;
	border:3px solid #ECECEC;
	background:#F9F9F9;
	text-align:center;
	line-height:75px;
	padding:0 20px;
}
.plan {
    background: url("../images/gundong.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 270px;
	margin:28px 0 0 30px;
}
.plan .blue-plan2 {
    display: inline-block;
    height: 15px;
    left: 5px;
    position: absolute;
    top: 3px;
    width: 126px;
}
.blue-plan2 .blue-left {
    background: url("../images/blue-left.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 14px;
    width: 5px;
}
.blue-plan2 .blue_plan {
    background: url("../images/blue-center.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 14px;
    width: 261px;
}
.blue-plan2 .blue-right {
    background: url("../images/blue-right.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 14px;
    width: 6px;
}
/*铏氭嫙select star*/
.select-1c {
	width:115px;
	height:23px;
	background:url(../images/select-bg1.gif) no-repeat;
	float:left;
	line-height:23px;
	padding:0 10px;
	cursor:pointer;
	position:relative;
	*z-index:1;
}
.select-1c-1  {
	width:115px;
	height:23px;
	display:inline-block;
	background:url(../images/select-i1.gif) no-repeat right center;
}
.select-list {
	width:133px;
	height:auto;
	background:#fff;
	border:1px solid #eee;
	position:absolute;
	left:0;
	top:21px;
	z-index:999;
	display:none;
}
.select-list li {
	padding-top:0;
	padding-left:10px;
}
.select-list li.li-hover {
	background:#eee;
}
.select-list li {
	padding-bottom:0;
	padding-left:10px;
}
.select-2c {
	width:70px;
	background:url(../images/select-bg2.gif) no-repeat;
}
.select-2c .select-1c-1  {
	width:70px;
}
.select-list-c1 {
	width:84px;
}
.select_box {
	cursor:pointer;
}
.select_txt {
	background:url(../images/select-bg2.gif) no-repeat scroll right -28px transparent;
	height:28px;
	line-height:28px;
	padding-right:15px;
	margin:0 10px 0 20px;
	_display:inline;
}
.select_txt span {
	background:url(../images/select-bg2.gif) no-repeat scroll left 0 transparent;
	height:28px;
	line-height:28px;
	padding-left:15px;
	padding-right:10px;
	display:inline-block;
	font-family:"Microsoft YaHei";
	font-size:12px;
}
.option {
	width:86px;
	height:auto;
	background:#fff;
	border:1px solid #ccc;
	display:none;
	position:absolute;
	left:20px;
	top:25px;
}
.option li {
	line-height:25px;
	padding-left:5px;
}
.option li.h {
	background:#f5f5f5;
}
.option-1 {
	width:62px;
	left:0;
}
.option-2 {
	left:0;
}
.select-3c {
	width:50px;
	height:23px;
	line-height:23px;
}
/*铏氭嫙select end*/
/*鎺у埗涓績 star*/
.p-con4 {
	font-size:14px;
	line-height:30px;
	padding:30px 20px;
	font-family: "Microsoft YaHei";
}
.col-c8 {
	padding:10px;
	height:690px;
	border:1px solid #DCDCDC;
	box-shadow:1px 2px 5px #ccc;
	-webkit-box-shadow:1px 2px 5px #ccc;
	-moz-box-shadow:1px 2px 5px #ccc;
	behavior:url(../pub-ui/css/PIE.htc);
}
.mgl-0 {margin-left:0px;}
/*鎺у埗涓績 end*/
.my-account {
	border:1px solid #ccc;
	background:#EDEDED;
	padding:5px;
}
.account-con {
	background:#fff;
	padding:20px;
}
.account-con p,.account-con div {
	line-height:30px;
}
.account-con a {
	color:#0C50C0;
	margin:0 5px;
}
.span-bg {
	width:83px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
	background:url(../images/rouad-bg.gif) no-repeat;
}
.span-bg1 {
	background:url(../images/rouad-bg1.gif) no-repeat;
}
.i-left,.i-right {
	width:40px;
	height:23px;
	display:inline-block;
	margin-top:2px;
}
.i-left i,.i-right i {
	width:40px;
	height:23px;
	display:inline-block;
}
.i-left {
	float:left;
}
.i-left i {
	float:left;
	background:url(../images/rouad-bg2.png) no-repeat 5px;
	_background:url(../images/rouad-bg3.gif) no-repeat 5px;
}
.i-right {
	float:right;
}
.i-right i {
	display:none;
	background:url(../images/rouad-bg2.png) no-repeat 14px;
	_background:url(../images/rouad-bg3.gif) no-repeat 14px;
}
.select_bgn {
	margin-left:0;
}
.textarea {
    border: 1px solid #D9D9D9;
    color: #999999;
    height: 70px;
    line-height: 18px;
    margin-top: 5px;
    padding: 5px 0 0 5px;
    resize: none;
    vertical-align: top;
    width: 400px;
	border-radius:5px;
}
.p-con5 {
	padding:5px 10px;
	background:#F2F2F2;
	border:1px dashed #ccc;
	line-height:20px;
}

.tip-row {
    background: none repeat scroll 0 0 #F1F6FA;
    height: 26px;
    margin: 0 5px;
    padding: 6px 10px;
	line-height:26px;
}
.icon-info {
	width:17px;
	height:22px;
	display:inline-block;
	background:url(../images/icon-1n.png) no-repeat 0 3px;	
	float:left;
}
.buy-content {
	background:#fff;
	border:1px solid #dedede;
	border-top:none;
	padding:15px;
	margin-bottom:20px;
}

/*绉熸湡鎷栨嫿 star*/
.column {
	float:left;
	display:inline-block;
	position:relative;
}
.column-w1 {
	width:480px;
	height:23px;
	background:url(../images/hover-bg.gif) no-repeat;
}
.column-w1 span.block {
	width:120px;
	height:23px;
	display:inline-block;
}
.column-w1 span.first{
    width:50%; 
    display:inline-block;   
}
.column-w1 span.second {
    width:25%;
    display:inline-block;
}
.column-w1 span.block div {
	height:21px;
	line-height:21px;
	color:#818181;
	padding:1px 5px 1px 0;
	text-align:right;
	border-right:1px solid #DCDCDC;
	font-family:"Microsoft YaHei";
}
.column-w1 span.last div {
	border-right:none;
}
.drag,.drag-w1 {
	background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    cursor: default;
    display: block;
    height: 16px;
    left: 0;
    outline: medium none;
    overflow: hidden;
    padding: 8px 0 0 3px;
    position: absolute;
    top: -2px;
    transform: scale(1);
    transition: border-color 0.3s ease 0s, -moz-transform 0.3s ease 0s;
    width: 10px;
	cursor:pointer;
}
.drag i,.drag-w1 i {
    background:#DCDCDC;
    display: inline;
    float: left;
    height: 10px;
    margin: 0 0 0 1px;
    overflow: hidden;
    width: 1px;
}
.column-oer,.column-oer-w1 {
    height: 23px;
    overflow: hidden;
    white-space: nowrap;
    /*width: 100%;*/
    width:480px;
}
.column-w2,.column-w2-2 {
	width:0;
	overflow:hidden;
	background:url(../images/hover-bg1.gif) no-repeat;
	position:absolute;
	top:0;
	left:0;
}
.column-w2 span.block,.column-w2-2 span.block {
	color:#0058a6;
	width:120px;
}
.column-w2 span.first{
    width:50%;    
}
.column-w2 span.second {
    width:25%;
}
.column-w2 span.last last,.column-w2-2 span.last last {
	border-right:none;
}
.column-w2-1 span.block {
	color:#0058a6;
	width:120px;
}
/*绉熸湡鎷栨嫿 end*/
.year {	
}
.year span,.month span {	
	width:70px;
	text-align:right;
	display:inline-block;
	font-size:14px;
	float:left;
}
.page {
    font-size: 14px;
    text-align: center;
}
.page a {
    background-color: #ECF0F1;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    padding: 8px 11px;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}
.page a:hover {
    background-color: #007BCB;
    color: #FFFFFF;
}
.page input {
    border: 1px solid #ECF0F1;
    height: 27px;
    line-height: 27px;
    margin: 0 5px;
    text-align: center;
    vertical-align: middle;
    width: 27px;
}
.page .on1 {
    background-color: #007BCB;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 11px;
    vertical-align: middle;
}
/*footer star*/
.footer {
	width:100%;
	min-width:1200px;
	border-top:3px solid #82D3EF;
}
.footer-1000 {
	min-width:1000px;
}
.footer-con {
	width:1200px;
	height:auto;
	margin:37px auto 70px;
}
.footer-con1000 {
	width:1000px;
}
.footer-con ul {
	float:left;
}
/*footer end*/
/*copy star*/
.copy {
	width:100%;
	min-width:1200px;
	height:135px;
	background:#444;
}
.copy-1000 {
	min-width:1000px;
}
.copy-con {
	width:1200px;
	height:135px;
	margin:0 auto;
}
.copy-con1000 {
	width:1000px;
}
.copy-con p {
	color:#9D9D9E;
}
/*copy end*/

/*td 编辑功能 start*/
.compile p.p-h {background:url(../images/icon-compile.jpg) no-repeat right center; cursor:pointer;}
.compile-con {width:210px; padding:15px; background:#fff; border:1px solid #ccc; border-radius:3px; box-shadow:2px 2px 3px #ccc; position:absolute; left:0; text-align:left; display:none;}
.input-compile {width:175px; padding-left:5px; height:28px; border:1px solid #ccc; border-radius:2px; box-shadow:1px 1px 2px #efefef inset;}
/*td 编辑功能 end*/

/*全局提示框start*/
.overall-prompt {width:270px; height:32px; line-height:32px;}
.overall-prompt a {float:right; margin:8px 10px 0 0; width:15px; height:15px; background:url(../images/icon-18.jpg) no-repeat right center;}
.bg-blue {background:#D9EDF7 url(../images/icon-25.png) no-repeat left center; color:#398AB1; padding-left:25px; position:absolute; right:0; top:10px; }
/*全局提示框end*/