.btn-1{display:inline-block;background:url(../images/bg_btn1.png) 0 0 no-repeat;padding-left:6px;}
.btn-1 span{background:url(../images/bg_btn1.png) right -30px no-repeat;height:19px;font:12px/18px "microsoft yahei";color:#5a9ac5;display:inline-block;padding-right:6px;}

.list-warn{padding:10px 10px 0;overflow:hidden;zoom:1;}
.list-warn li{height:31px;line-height:31px;margin-bottom:10px;}
.list-warn li.warn-1{background-color:#fceded;border-bottom:solid 1px #fdf2f2;}
.list-warn li.warn-2{background-color:#e9ebff;border-bottom:solid 1px #eff0ff;}
.list-warn li.warn-3{background-color:#fcecde;border-bottom:solid 1px #fdf1e6;}
.list-warn li a{font-size:14px;color:#585858;padding:0 5px 0 10px;}
.list-warn li .txt{background:url(../images/icons-bell.png) 0 0 no-repeat;padding-left:20px;height:31px;display:inline-block;width:80px;}
.list-warn li.warn-1 .txt{background-position:0 -43px;}
.list-warn li.warn-2 .txt{background-position:0 -93px;}
.list-warn li.warn-3 .txt{background-position:0 -143px;}
.list-warn li .num{color:#fff;font-size:11px;border-radius:6px;height:14px;line-height:13px;padding:0 6px;}
.list-warn li.warn-1 .num{background-color:#f55f5f;}
.list-warn li.warn-2 .num{background-color:#8f99f6;}
.list-warn li.warn-3 .num{background-color:#f39b54;}

.list-1 li{background:url(../images/li-green.png) 0 center no-repeat;padding-left:12px;}
.list-1 li a{color:#787878;font:12px/24px "microsft yahei";display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;_width:148px;}

.tt-1{clear:both;overflow:hidden;height:32px;line-height:32px;border:solid 1px #CCCCCC;background-color:#f9f9f9;font-weight:normal;padding:0 5px 0 10px;}
.tt-1 .txt{float:left;color:#585858;font-size:14px;}
.tt-1 .more{float:right;font-size:12px;color:#bbbbbb;}
.tt-1 .bell-txt,.tt-1 .backlog-txt{background:url(../images/icons-bell.png) 0 8px no-repeat;padding-left:18px;}
.tt-1 .backlog-txt{background-position:0 -191px;}
.tt-2{height:43px;line-height:43px;border:solid 1px #CCCCCC;background-color:#f7f7f7;color:#585858;font-size:16px;padding-left:18px;}

.box-fn{width:49%;}
.boxfn-cont{height:288px;border:solid 1px #CCCCCC;border-top:0 none;}

.tab .tab-tt{clear:both;zoom:1;height:33px;background-color:#ebf6fd;border:solid 1px #dbecf7;padding:5px 0 0 5px;}
.tab .tab-tt li{float:left;padding-left:12px;border-right:solid 1px #f3f3f3;font:14px/28px "microsoft yahei";cursor:pointer;height:34px;}
.tab .tab-tt li span{color:#438eb9;padding-right:12px;display:inline-block;height:34px;}
.tab .tab-tt li.on{background:url(../images/bg_tab1.png) 0 0 no-repeat;}
.tab .tab-tt li.on span{background:url(../images/bg_tab1.png) right -50px no-repeat;color:#585858;}
.tab .tab-cont .box{display:none}
.tab .tab-cont .box-on{display:block}

.chartBox{color:#585858;text-align:center;font-size:14px;}
.chartBox .chart-c{display:inline-block;*display:inline;clear:both;margin-top:5px;}
.chartBox .chart-b{font-size:12px;line-height:24px;}
.chartBox .chart-b .color-lump{width:12px;height:12px;display:inline-block;vertical-align:-1px;margin-right:5px;}
.chartBox .chart-b .blue-lump{background-color:#5faee3;}
.chartBox .chart-b .orange-lump{background-color:#f8a20f;}
.chartBox .chart-b .grey-lump{background-color:#f1f1f1;}
.chartBox .cb-inner{display:inline-block;*display:inline;text-align:left;margin-left:-60px;}

/*progress-percent start*/
.progress-percent{line-height:13px;display:inline-block;}
.progress-bar{width:100px;height:13px;display:block;zoom:1;overflow:hidden;position:relative;text-align:left;background:url(../images/bg-progressbar.png) 0 0 no-repeat;}
.progress-bar .bar-inner{background:url(../images/bg-progressbar.png) right -20px no-repeat;margin-left:5px;display:block;height:13px;}
.progress-bar .current{height:13px;display:block;background:url(../images/bg-progressbar.png) 0 -40px no-repeat;overflow:hidden;margin-left:-5px;}
.progress-bar .current b{margin-left:5px;height:13px;background:url(../images/bg-progressbar.png) right -60px no-repeat;display:block;}
.pgpercent-orange .progress-bar .current{background-position:0 -40px;}
.pgpercent-orange .progress-bar .current b{background-position:right -60px;}
.pgpercent-blue .progress-bar .current{background-position:0 -80px;}
.pgpercent-blue .progress-bar .current b{background-position:right -100px;}
.pgpercent-red .progress-bar .current{background-position:0 -120px;}
.pgpercent-red .progress-bar .current b{background-position:right -140px;}
.pgpercent-purple .progress-bar .current{background-position:0 -160px;}
.pgpercent-purple .progress-bar .current b{background-position:right -180px;}
.pgpercent-green .progress-bar .current{background-position:0 -200px;}
.pgpercent-green .progress-bar .current b{background-position:right -220px;}

.progress-percent .percent{display:inline-block;position:absolute;left:0;top:0;font:12px/13px "microsoft yahei";color:#fff;text-align:right;padding:0 5px;}
/*progress-percent end*/

/*table start*/
.table-1{width:100%;border:solid 1px #f2f2f2;border-collapse:collapse;color:#585858;line-height:24px;}
.table-1 th{background-color:#f2f2f2;padding:4px 1px;}
.table-1 td{padding:4px 1px;border-bottom:solid 1px #f2f2f2;text-align:center;}
/*table end*/