@charset "utf-8";
/**
 * Filename: backToTop.css
 * Description: backToTop's style
 * Version: 1.0.0
 * Author: wanggq.si-tech
 * UpdateBy: wanggq 20121126
*/
.ued-backToTop {
	display: none;
	width: 36px;
	height:36px;
	line-height: 1.2;
	padding: 5px 0;
	background:url(images/gt1.gif) no-repeat left center;
	color: #fff;
	font-size: 12px;
	text-align: center;
	position: fixed;
	_position: absolute;
	right: 10px;
	bottom: 100px;
	_bottom: "auto";
	cursor: pointer;
}
.ued-backToTop:hover {
	background:url(images/gt2.gif) no-repeat left center;
}