/*
 * @Filename: button.css
 * @Description: button style
 * @Version: 1.0.0
 * @Author: wangyq
 * @Update: wangyq
*/
.ued-menu{
    background: #fafafa;
    border: 1px solid #d2d2d2;
    overflow: visible;
}
.ued-menu .menu-title{
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
}
.ued-menu ul.menu-list{
    padding: 0;
    margin: 5px 1px 10px 1px;
}
.ued-menu ul.menu-list li{
    list-style: none;
    position: relative;
    overflow: visible;
    height: 30px;
    border: 1px solid #fafafa;
    z-index: 1;
}
.ued-menu ul.menu-list li.on{
    border: 1px solid #88bff3;
    background: #ffffff;
    z-index: 888;
}
.ued-menu ul.menu-list li a{
    display: block;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    border: 1px solid #fafafa;
    text-decoration: none;
    vertical-align: middle;
}
.ued-menu ul.menu-list li a:hover,.ued-menu ul.menu-list li.on a{
    width: 120px;
    position: absolute;
    border: 1px solid #fafafa;
    border-right:1px solid #ffffff;
    background: #ffffff;
    z-index: 9999;
}
.ued-menu ul.menu-list li i{
    vertical-align: middle;
    margin-right: 10px;
}
.ued-menu ul.menu-list li .submenu{
    display: none;
    background: #ffffff;
    border: 1px solid #88bff3;
    width: 220px;
    padding:5px 10px;
    z-index: 888;
}
.ued-menu ul.menu-list li.on .submenu{
    display: block;
    position: absolute;
    top:-1px;
    left: 160px;
    z-index: 888;
}
.ued-menu ul.menu-list li .submenu a,.ued-menu ul.menu-list li .submenu strong{
    display: inline;
    margin: 0 5px;
    padding: 0;
    width: auto;
    position: static;
    border: none;
    background: none;
    white-space:nowrap;
}